@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-mainTheme-color: #001f3e; 
  --color-mainText-color: #dee0e2;
  --color-mainText-hover-color: #7e8993;
  --color-serviceBtn-color: #001f3e;
  --color-serviceBtn-hover-color: #18528d;
}

:root {
  --color-main-color-blue: #dee0e2;
}

